*{
    margin: 0;
    padding: 0;
    font-family: sans-serif;
}
body{
    background-position: center;
    background-size: cover;
    background-color: aquamarine;
}
.body h1{
    align-items:center ;
}